{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Sync OAuth API",
    "description": "OAuth 2.0 API for authenticating and authorizing third-party applications",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.aisync.link",
      "description": "Production server"
    }
  ],
  "paths": {
    "/oauth/authorize": {
      "get": {
        "summary": "Authorize",
        "description": "Start the OAuth authorization flow by redirecting users to the authorization endpoint. Users will grant permission to your application and be redirected back with an authorization code.",
        "operationId": "authorize",
        "tags": ["OAuth"],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Your OAuth client ID obtained from the dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "The redirect URI registered with your OAuth client. Must exactly match the registered URI.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "Must be set to 'code' for authorization code flow",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["code"],
              "default": "code"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of access requested. Use '*' for full access.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to redirect_uri with authorization code",
            "headers": {
              "Location": {
                "description": "Redirect URI with code parameter",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Generate Token",
        "description": "Exchange authorization code for access token and refresh token. This endpoint is used after receiving the authorization code from the authorize endpoint.",
        "operationId": "generateToken",
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["code", "client_id", "client_secret", "grant_type", "redirect_uri"],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The authorization code received from the authorize endpoint"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your OAuth client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your OAuth client secret",
                    "format": "password"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": ["authorization_code"],
                    "description": "Must be set to 'authorization_code' for this flow",
                    "default": "authorization_code"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "The same redirect URI used in the authorization request"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token/refresh": {
      "post": {
        "summary": "Refresh Token",
        "description": "Obtain a new access token using your refresh token. Use this endpoint when your access token expires to continue making API calls without requiring user re-authorization.",
        "operationId": "refreshToken",
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["client_id", "client_secret", "grant_type", "redirect_uri", "refresh_token"],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your OAuth client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your OAuth client secret",
                    "format": "password"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": ["refresh_token"],
                    "description": "Must be set to 'refresh_token' for this flow",
                    "default": "refresh_token"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "The redirect URI registered with your OAuth client"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "The refresh token obtained from the Generate Token endpoint"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or expired refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/access_validation": {
      "get": {
        "summary": "Access Validation",
        "description": "Validate that your access token is still valid and active. Use this endpoint to check token status before making API calls.",
        "operationId": "accessValidation",
        "tags": ["OAuth"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token validation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/agent/list": {
      "get": {
        "summary": "List Agents",
        "description": "Retrieve a paginated list of all AI agents associated with your account. Use this endpoint to get an overview of all your agents and their details.",
        "operationId": "listAgents",
        "tags": ["AI Agents"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve (starts from 1)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of agents to return per page (maximum 100)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/agent/create": {
      "post": {
        "summary": "Create Agent",
        "description": "Create a new AI agent with custom configuration. Define the agent's name, general prompt, and optional webhook settings for call completion callbacks.",
        "operationId": "createAgent",
        "tags": ["AI Agents"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/agent/call-endpoint": {
      "get": {
        "summary": "AI Call Endpoint",
        "description": "Retrieve the call endpoint URL for a specific AI agent. This endpoint provides the unique URL that can be used to initiate calls with the specified agent.",
        "operationId": "getCallEndpoint",
        "tags": ["AI Agents"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "description": "The unique identifier of the agent (e.g., agent_07a9005357b35d0943f7359ad9)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call endpoint URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallEndpointResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "endpoint": "",
                    "Method": "POST",
                    "form_data": [
                      "phone_number",
                      "email",
                      "first_name",
                      "last_name",
                      "ghl_contact_id",
                      "override_agent_id",
                      "local_presence_number=No (Yes/No)<br> [If Yes, then the call will be made from AI local presence number]"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/number/list": {
      "get": {
        "summary": "List Numbers",
        "description": "Retrieve a paginated list of all AI phone numbers associated with your account. Use this endpoint to get an overview of all your AI numbers and their details.",
        "operationId": "listNumbers",
        "tags": ["AI Numbers"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve (starts from 1)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of numbers to return per page (maximum 100)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The access token to use for API requests"
          },
          "refresh_token": {
            "type": "string",
            "description": "Token used to obtain a new access token when it expires"
          },
          "token_type": {
            "type": "string",
            "description": "The type of token, typically 'Bearer'",
            "default": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "The number of seconds until the access token expires"
          }
        },
        "required": ["access_token", "token_type", "expires_in"]
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Indicates whether the access token is valid"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the token expires"
          },
          "scope": {
            "type": "string",
            "description": "The scope of access granted to this token"
          }
        },
        "required": ["valid"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": ["error"]
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": ["agent_name", "general_prompt"],
        "properties": {
          "agent_name": {
            "type": "string",
            "description": "A descriptive name for your AI agent"
          },
          "general_prompt": {
            "type": "string",
            "description": "The main system prompt that defines the agent's behavior and purpose. This guides how the agent interacts during calls."
          },
          "weebhook_endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Optional callback URL that will be called when the agent completes a call. Leave empty if not needed."
          },
          "weebhook_endpoint_method": {
            "type": "string",
            "enum": ["GET", "POST"],
            "description": "HTTP method for the webhook callback. Must be either GET or POST. Defaults to POST if not specified.",
            "default": "POST"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique identifier for the agent"
          },
          "agent_name": {
            "type": "string",
            "description": "The name of the agent"
          },
          "status": {
            "type": "string",
            "description": "Status of the agent (typically 'active' or 'pending')"
          },
          "general_prompt": {
            "type": "string",
            "description": "The main system prompt for the agent"
          },
          "weebhook_endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL for call completion"
          },
          "weebhook_endpoint_method": {
            "type": "string",
            "enum": ["GET", "POST"],
            "description": "HTTP method for webhook callback"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the agent was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the agent was last updated"
          }
        },
        "required": ["agent_id", "agent_name", "status"]
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique identifier for the newly created agent"
          },
          "agent_name": {
            "type": "string",
            "description": "The name of the created agent"
          },
          "status": {
            "type": "string",
            "description": "Status of the agent creation (typically 'active' or 'pending')"
          }
        },
        "required": ["agent_id", "agent_name", "status"]
      },
      "AgentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            },
            "description": "Array of agent objects containing agent details"
          },
          "current_page": {
            "type": "integer",
            "description": "The current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of agents available"
          }
        },
        "required": ["data", "current_page", "per_page", "total"]
      },
      "CallEndpointResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status (e.g., 'success')",
            "example": "success"
          },
          "data": {
            "type": "object",
            "properties": {
              "endpoint": {
                "type": "string",
                "description": "The unique endpoint URL for initiating calls with this agent",
                "example": ""
              },
              "Method": {
                "type": "string",
                "description": "The HTTP method to use when calling the endpoint",
                "example": "POST"
              },
              "form_data": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of form field names that must be included when making a POST request to the endpoint",
                "example": [
                  "phone_number",
                  "email",
                  "first_name",
                  "last_name",
                  "ghl_contact_id",
                  "override_agent_id",
                  "local_presence_number=No (Yes/No)<br> [If Yes, then the call will be made from AI local presence number]"
                ]
              }
            },
            "required": ["endpoint", "Method", "form_data"]
          }
        },
        "required": ["status", "data"]
      },
      "Number": {
        "type": "object",
        "properties": {
          "number_id": {
            "type": "string",
            "description": "Unique identifier for the phone number"
          },
          "phone_number": {
            "type": "string",
            "description": "The phone number in E.164 format"
          },
          "country": {
            "type": "string",
            "description": "Country code or name for the phone number"
          },
          "status": {
            "type": "string",
            "description": "Status of the phone number (typically 'active', 'inactive', or 'pending')"
          },
          "agent_id": {
            "type": "string",
            "description": "The AI agent ID associated with this number (if any)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the number was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the number was last updated"
          }
        },
        "required": ["number_id", "phone_number", "status"]
      },
      "NumberListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Number"
            },
            "description": "Array of phone number objects containing number details"
          },
          "current_page": {
            "type": "integer",
            "description": "The current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of phone numbers available"
          }
        },
        "required": ["data", "current_page", "per_page", "total"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Include the access token in the Authorization header as 'Bearer {access_token}'"
      }
    }
  }
}
